<h4 class="column">The Items</h4>
<div class="column">
  <ul class="items-grid no-bullet row">
    <% @items.each do |item| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="item-card padly">
          <%= link_to item, class: "poster" do %>
            <%= image_tag item.itemimage %>
          <% end %>
          <div class="item-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= item.title %> </h6>
            </div>
            <p class="left price label movie-label radius">$ <%= item.price %></p>
            <%= link_to item.infopage, class: "right" do %>
              <%= image_tag asset_path("colehaan.jpg") %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>